/* CSS Document */

body {
	background-position:center;
	background-repeat:repeat-y;
	font-family: Segoe UI Light,"Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size:18px;
}
#container {
	width:90%;
	margin:0 auto;
}

#header {
	background-color:#0088cc;
	margin-top:10px;
	padding:30px 10px 30px 10px;
	border-top:2px solid #ccc;
}

#header h1 {
        	text-align:center;
}

#header h1 strong {
	color:#b51d1d;
}

#header h1 a {
	font-size:30px;
	font-weight:bold;
	color:#333;
	text-decoration:none;
}

#header h2 {
	text-align:center;
	color:#f7a0a0;
}

#header ul {
	margin:20px 0 0 0;
	padding:0;
}

#header li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#header li a {
    color:#ffffff;
	display:block;
	padding:7px;
	text-decoration:none;
	margin:0 10px 0 0;
}
#header li a:hover {
    font-weight:bold;
}

#sidebar {
	float:right;
	width:254px !important;
	margin:10px 10px 10px 0;
}

.small_title {
	background-color:#0088cc;
    text-align:center;
    color:#ffffff;
	font-size:20px;
}

#sidebar p {
    background-color:#0088cc;
    color:#ffffff;
	padding:5px;
	margin:5px 5px 5px 10px;
	line-height:17px;
	word-spacing:-1px;
}

.note {
	padding:10px;
	background-color:#eee;
	border:1px solid #ccc;
	margin:20px 5px 20px 5px;
}


#content {
	margin:10px 300px 10px 10px;
}
.article_title {
    padding-left:20px;
    font-size:25px;
    font-weight:bold;
	color:#000;
}
.article_title a{
text-decoration:none;
}
.article a {
    text-decoration:none;
}

#content h2 {
	font-size:22px;
	margin:10px 0 10px 0;
	padding:5px;
}

.last_post{
margin:0;
padding:10px;
}

.last_post li {
list-style-type:none;
margin:0;
padding:0;
}
.last_post a{
    font-size:16px;
    text-decoration:none;
}
.last_post a:hover{
        text-decoration:underline;
}

.link_menu{
margin:0;
padding:10px;
}

.link_menu li {
list-style-type:none;
margin:0;
padding:0;
}
.link_menu a{
    font-size:16px;
    text-decoration:none;
}
.link_menu a:hover{
        text-decoration:underline;
}

.add_comment {
    padding:10px 20px;
}
.delete_comment {
    text-align:center;
    float:right;
    display:block;
    border-radius:50%;
    width:1.5em;
    height:1.5em;
    background-color:#ccc;
    cursor:pointer;
}
.delete_comment:hover{
    background-color:#888888;
}

.totalComment {
	padding:0 0 0 15px;
	background-image:url(../images/backgrounds/comment.png);
	background-position:left;
	background-repeat:no-repeat;
	text-decoration:none;
}

#content ul {
	margin:0;
	padding:0;
}

#content li {
	margin:5px 0 5px 0;
	border-bottom:1px solid #f6f6f6;
	padding:0 0 5px 20px;
	list-style:none;
	background-image:url(../images/backgrounds/arrow.png);
	background-position:top left;
	background-repeat:no-repeat;
}

input[type="button"] {
    cursor:pointer;
}
input, textarea {
	background-color:#fff;
	border:1px solid #ccc;
	padding:3px;
	color:#777;
}

#footer {
    color:#ffffff;
	background-color:#0088cc;
	border-top:2px solid #ccc;
	padding:10px;
	text-align:center;
    clear:both;
}

.comment {
    padding:5px 20px;
    border-top:1px solid #888888;
    font-size:15px;
}

.tags {
    float:left
}
.tag {
padding:2px 10px;
border:1px solid #ccc;
}
.comment_date {
    float:right;
}

.article_menu {
    overflow:hidden;
	padding:10px;
    border-bottom:1px solid #888888;
}
