﻿@model Blog.Models.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Article";
}
<script>
    $(document).ready(function () {
        var postId = $('#post_id').val();

        $('#add_comment').click(function () {
            var userEmail = $('#user_email').val();
            var commentText = $('#comment_text').val();
            $.ajax({
                url: '/Article/AddComment/',
                data: { postId: postId, userEmail: userEmail, commentText: commentText },
                type: 'post'
            }).done(function (result) {
                $(".comments").html(result);
            }).fail(function (error) {
                alert("error: " + error);
            });
        })

        $('.comment').on("click", ".delete_comment", function () {
            var commentId = ($(this).parent().children('.comment_id')).val();
            $.ajax({
                url: '/Article/DeleteComment/',
                data: { postId: postId, commentId: commentId },
                type: 'post'
            }).done(function (result) {
                $(".comments").html(result);
            }).fail(function (error) {
                alert("error: " + error);
            });
        })
    })

</script>

<div class="article">
    <div class="article_title"><a href="#intro" id="intro">@Model.post.Title</a></div>
    <p>@Model.post.Text</p>
</div>
<div class="article_menu">
    <div class="tags">
    @for (int i = 0; i < Model.tags.Count; i++)
    {
        var tag = Model.tags.ElementAt(i);
        @Html.ActionLink(tag.Name, "Index", "Home", new { tagId = tag.Id }, new { @class = "tag" })
        if (i < Model.tags.Count-1)
        {
            @: ,
        }
    }
        </div>
    <div class="comment_date">
    @Model.post.PostDate.ToShortDateString()
    <a href="#" class="totalComment">@Model.comments.Count Comments</a>
        </div>
</div>
<div class="add_comment">
    <input type="hidden" name="postId" id="post_id" value="@Model.post.Id" />
    Your Email:<input type="text" name="Email" id="user_email" size="40" /><br />
    Your Comment:
    <textarea style="resize: none;" cols="100" id="comment_text" rows="5"></textarea>
    <input type="button" value="Add Comment" id="add_comment" />
</div>

<div class="comments">
    @{Html.RenderAction("ViewComments", "Article", new { postId = Model.post.Id });}
</div>

