﻿@model Blog.Models.ViewModels.ListArticleViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@foreach (var article in Model.listArticles)
{
    <div class="article">
        <div class="article_title">@Html.ActionLink(article.post.Title, "Article", "Home", new { id=article.post.Id},null)</div>
        @{int index = article.post.Text.IndexOf('.', 200);}
        <p>
            @article.post.Text.Substring(0,index+1)
            @Html.ActionLink(" read more..", "Article", "Home", new { id=article.post.Id},null)
        </p>
                            
<div class="article_menu">
    <div class="tags">
    @for (int i = 0; i < article.tags.Count; i++)
    {
        var tag = article.tags.ElementAt(i);
        @Html.ActionLink(tag.Name, "Index", "Home", new { tagId = tag.Id }, new { @class = "tag" })
        if (i < article.tags.Count - 1)
        {
            @: ,
        }
    }
        </div>
    <div class="comment_date">
    @article.post.PostDate.ToShortDateString()
    <a href="#" class="totalComment">@article.comments.Count Comments</a>
        </div>
</div>
    </div>
}
<div class="page_numbers">
    @for (int pageNumber = 1; pageNumber < Model.totalPage;pageNumber++ )
    {
            @Html.ActionLink(pageNumber.ToString(), "Index", "Home", new { page = pageNumber }, null)
        @:        &nbsp;
    }

</div>