﻿@model ICollection<Blog.Models.DomainModels.Comment>
    @foreach (var comment in Model)
    {
        <div class="comment">
            <input type="hidden" name="comment_id" class="comment_id" value="@comment.Id"/>
            <span class="delete_comment">x</span>
            <b>@comment.CreatorEmail</b>
            <p>@Html.Raw(comment.Text)</p>
            <span>@comment.PostDate</span>
        </div>
    }
