﻿@model ICollection<Blog.Models.DomainModels.Post>
<ul class="last_post">
    @foreach (var post in Model)
    {
        <li>
            @Html.ActionLink(post.Title, "Article", "Home", new { id = post.Id }, null)
        </li>
    }
</ul>
