﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('.ckeditor').ckeditor();
        });
    </script>

</head>
<body>
    <div id="container">
        <div id="header">
            <h1><a href="http://all-free-download.com/free-website-templates/">mini<strong>BLOG</strong> 1.0</a></h1>
            <h2>dont know how to implement this</h2>
            <ul id="nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Admin Area", "Index", "Admin")</li>
            </ul>
        </div>
        <div id="sidebar">
            @*<h1>The Sidebar</h1>
    <p> This is where you will put anything that uhm, belongs here really. Latest Comments. Submenus. Blogrolls. Affiliates. Anything! </p>*@

        <div class="submenu">
            <div class="small_title">Last Post</div>
            @{Html.RenderAction("LastPost", "Home");}
                </div>
                        <div class="submenu">
            <div class="small_title">Links</div>
            <ul class="link_menu">
                <li><a href="#">Six Shooter Media</a></li>
                <li><a href="#">JamesKoster.co.uk</a></li>
                <li><a href="#">Buy a Button!</a></li>
                <li><a href="#">Open Web Design</a></li>
                <li><a href="#">OSWD</a></li>
            </ul>
                            </div>
            <p class="note">Here is a special paragraph for any important notes that you might want to display. </p>
    </div>
    <div id="content">
            @RenderBody()
    </div>
        <div id="footer">
            <p>
                Template design by <a href="#">Six Shooter Media</a>.<br>
                © All your copyright information here.
            </p>
        </div>
    </div>
</body>
</html>
